body {
  margin: 0;
  padding: 0;
}

#status {
  position: absolute;
  top: 0;
  left: 0;
  border: 0px solid white;
  background: transparent;
  color: white;
  font-family: monospace;
  padding: 0.2em;
  width: 10em;
}